BOT_TOKEN=your-telegram-bot-token
DB_DSN=sqlite+aiosqlite:///./bot.db
ADMIN_IDS=123456789
ORG_CONTACT_TEXT=<b>💬 Для связи используете общий чат по курсу</b>\n\nЕсли вас в чат не добавили, то попросите через знакомых, друзей чтобы вас добавили.
GENERAL_MATERIALS_URL=https://disk.yandex.ru/d/Am0t6aCc-pAbVg
REMIND_BEFORE_MIN=60
TZ=Europe/Moscow
